<div class="container py-5 bg-light min-vh-100 d-flex justify-content-center align-items-center">
    <div class="card shadow-lg p-4 w-100" style="max-width: 500px;">
        <h2 class="text-center text-primary mb-4">Candidate Login</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="row g-3">
                <div class="col-12">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="">
                    <small class="text-danger"
                        *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
                        Valid email is required
                    </small>
                </div>

                <div class="col-12">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="">
                    <small class="text-danger"
                        *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
                        Password is required
                    </small>
                </div>

                <div class="col-12 mt-3">
                    <button class="btn btn-primary w-100 py-2" type="submit" [disabled]="loginForm.invalid">
                        Login
                    </button>
                </div>
            </div>
        </form>

        <div class="text-center mt-4">
            <a routerLink="/candidate/register" class="text-decoration-none">
                New here? <strong>Register now</strong>
            </a>
        </div>
    </div>
</div>

<div id="loginErrorToast"
    class="toast align-items-center text-white border-0 position-fixed bottom-0 end-0 m-4 bg-danger" role="alert"
    aria-live="assertive" aria-atomic="true" style="z-index: 9999;">
    <div class="d-flex">
        <div class="toast-body">
            <!-- message inserted by TS -->
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
            aria-label="Close"></button>
    </div>
</div>