<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card shadow-lg p-4 w-100" style="max-width: 500px;">
    <h3 class="text-center mb-4">Register New Candidate</h3>

    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <div class="mb-3">
        <label class="form-label">Full Name</label>
        <input type="text" class="form-control" formControlName="fullName" />
      </div>

      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" />
      </div>

      <div class="mb-3">
        <label class="form-label">Gym Name</label>
        <input type="text" class="form-control" formControlName="gymName" />
      </div>

      <div class="mb-4">
        <label class="form-label">Mobile</label>
        <input type="text" class="form-control" formControlName="mobile" />
      </div>

      <div class="d-grid">
        <button class="btn btn-primary" type="submit">Register</button>
      </div>
    </form>
  </div>
</div>
