.container {
  max-width: 800px;
}
input.ng-invalid.ng-touched {
  border-color: #dc3545;
}

.password-hint-box {
  background-color: #fff9db; /* pale yellow */
  border: 1px solid #ffe58f;
  font-size: 0.875rem;
}

